<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
        <init-param>
            <param-name>uname</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RDServlet2</servlet-name>
        <servlet-class>RDServlet2</servlet-class>
        <init-param>
            <param-name>uname</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>admin2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDServlet2</servlet-name>
        <url-pattern>/RDServlet</url-pattern>
    </servlet-mapping>
</web-app>
