<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextServletEx</servlet-name>
        <servlet-class>ContextServletEx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextServletEx</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>uname</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>pwd</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>dept</param-name>
        <param-value>Computer Engineering</param-value>
    </context-param>
    <context-param>
        <param-name>inst</param-name>
        <param-value>MEFGI</param-value>
    </context-param>
    <context-param>
        <param-name>city</param-name>
        <param-value>Rajkot</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
</web-app>
