/NetBeans Programs/AJP-Prog01/build/
/AJP-Lab-Programs/NetBeans Programs/AJP-Lab-Chp01-Prog01/build/
/AJP-Lab-Programs/NetBeans Programs/AJP-Lab-Chp01-Prog02/AJP-Lab-Chp01-Prog02/nbproject/private/
/AJP-Lab-Programs/NetBeans Programs/AJP-Lab-Chp01-Prog02/nbproject/private/
/AJP-Lab-Programs/NetBeans Programs/AJP-Lab-Chp01-Prog02/build/
/AJP-Class-Programs/NetBeans/AJP-Class-Chp01-Prog01/nbproject/private/
/AJP-Class-Programs/NetBeans/AJP-Class-Chp01-Prog01/build/
/AJP-Class-Programs/NetBeans/LabProgram01/nbproject/private/
/AJP-Class-Programs/NetBeans/LabProgram01/build/
/AJP-Class-Programs/NetBeans/LabProgram02/nbproject/private/
/AJP-Class-Programs/NetBeans/LabProgram02/build/
/AJP-Class-Programs/NetBeans/AJP-Lab-Chp01-Prog04/nbproject/private/
/AJP-Class-Programs/NetBeans/AJP-Lab-Chp01-Prog05/nbproject/private/
/AJP-Class-Programs/NetBeans/AJP-Lab-Chp01-Prog05/build/
/AJP-Class-Programs/NetBeans/AJP-Lab-Chp01-Prog06/nbproject/private/
/AJP-Class-Programs/NetBeans/AJP-Lab-Chp01-Prog06/build/
/AJP-Class-Programs/NetBeans/AJP-Class-Chp01-Prog-Datagrams01/nbproject/private/
/AJP-Class-Programs/NetBeans/AJP-Class-Chp01-Prog-Datagrams01/build/
/AJP-Class-Programs/NetBeans/AJP-Lab-Chp01-Prog04/build/
/AJP-Lab-Programs/NetBeans Programs/AJP-Lab-Chp01-Prog04/dist/
/AJP-Lab-Programs/NetBeans Programs/AJP-Lab-Chp01-Prog06/dist/